# Learn by "Self-Taught Programmer"

## Act 3 about basic of Python

In [1]:
for i in range(100):
    print("Hello, World")

Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World

In [2]:
print("""super long
 long long 
 long long
 long long
 print""")

super long
 long long
 long long
 long long
 print

In [5]:
print\
("""aaaaaaaaaaaaa
aaaaaaaaaa""")

aaaaaaaaaaaaa
aaaaaaaaaa

In [6]:
print('errot test)

SyntaxError: EOL while scanning string literal (<ipython-input-6-413fbaa0778d>, line 1)

In [7]:
10/0

ZeroDivisionError: division by zero

In [14]:
17//4

4

In [15]:
17/4

4.25

In [16]:
787 == 787 and 88 == 88

True

In [17]:
787 == 787 && 88 == 88

SyntaxError: invalid syntax (<ipython-input-17-5ca2381e0e69>, line 1)

In [20]:
home = 'america'
if home == 'america':
    print('hello america')
else:
    print('hello world')

hello america

In [23]:
x = 88
y = 934
if x == 88:
    if y ==934:
        print(x+y)

1022

sentence contains simple or complex sentence.<br>
complex sentence is made of header and sweet.

In [30]:
# q2 of act3
x = 8
if x < 10:
    print('smaller than 10')
else:
    print('bigger than 10')

# q3
x = 88
if x <=10:
    print('small')
elif x <=25:
    print('between 10 and 25')
else:
    print('big')

smaller than 10
big

## Act 4 about function

In [81]:
import math
def sigmoid():
    z = float(input('enter your inner product:'))
    e = math.e
    sig = 1 / (1 + e **-z)
    print(sig)
    if sig < 0.5:
        print('negative class \n')
    else:
        print('positive class \n')
sigmoid()

enter your inner product:2.1
0.8909031788043871
positive class

In [63]:
x = 111
type(x)

int

In [66]:
x = 111
str(x)

'111'

In [69]:
age = int(input('enter your age:'))
if age < 21:
    print('you are young')
else:
    print('you are adult')

enter your age:8
you are young

In [1]:
try:
    a = input('type any number:')
    b = input('type another:')
    a = int(a)
    b = int(b)
    print(a/b)
except(ZeroDivisionError, ValueError):
    print('Invalid input')

type any number:8
type another:0
Invalid input

In [6]:
# q1 of act4
def square_n(x):
    """
    Returns square of x
    :param x: int
    :return: int square of x
    """
    return x**2
square_n(8)

64

In [7]:
#q2
def print_s(x):
    """
    prints x.
    param x:str.
    """
    print(x)
a = 'hey'
print_s(a)

hey

In [8]:
#q3
def opt(a,b,c,x=4,y=0):
    """
    Returns sum of params.
    :param a,b,c: int.
    :param x,y: optional int.
    """
    return a + b + c + x + y
r = opt(3,4,5)
print(r)

16

In [11]:
#q4
def first(x):
    """
    Returns half of x.
    :param x: int.
    """
    return int(x / 2)

def second(y):
    """
    Returns y times 4.
    :param y: int.
    """
    return int(y * 4)

a = first(894)
b = second(a)
print(b)

1788

In [13]:
#q5
def into_float(x):
    """
    Convert str into float and returns it.
    :param x: str.
    """
    try:
        return float(x)
    except(ValueError):
        print('invalid value')

into_float('aa')

invalid value

## Act5 about container

In [15]:
fruits = ['apple','orange','grape']
fruits

['apple', 'orange', 'grape']

In [19]:
fruits.append('banana')
fruits[1]

'orange'

In [18]:
random = [True,100,1.1,'Hello']
random[2]

1.1

In [20]:
random.pop()
random

[True, 100, 1.1]

In [21]:
fruits + random

['apple', 'orange', 'grape', 'banana', 'banana', True, 100, 1.1]

In [22]:
len(random+fruits)

8

In [25]:
numbers = [76,2,4,83,111,90,34,64]
guess = int(input('guess a number:'))
if guess in numbers:
    print('congulatulation!')
else:
    print('It is not. Do not mind.')

guess a number:7
It is not. Do not mind

In [30]:
dic = {'name':'tanaka',
      'sex':'male',
      'job':'consultant',
      'age': 87}
dic

{'name': 'tanaka', 'sex': 'male', 'job': 'consultant', 'age': 87}

In [32]:
dic['family']=5
dic

{'name': 'tanaka', 'sex': 'male', 'job': 'consultant', 'age': 87, 'family': 5}

In [38]:
list = []
rap = ['kanye','jay-z','eminem','nas']
rock = ['bob','beatles','Queen']
dj = ['ded','thyest']
list.append(rap)
list.append(rock)
list.append(dj)
list

[['kanye', 'jay-z', 'eminem', 'nas'],
 ['bob', 'beatles', 'Queen'],
 ['ded', 'thyest']]

In [39]:
print(list[0])

['kanye', 'jay-z', 'eminem', 'nas']

In [40]:
rap.append('kendrick')

In [41]:
print(list)

[['kanye', 'jay-z', 'eminem', 'nas', 'kendrick'], ['bob', 'beatles', 'Queen'], ['ded', 'thyest']]

In [43]:
# q1~3 of Act5
singer = ['eminem','kendrick','xxxtentacion']
location = [(38,130),(28,110)]
me = {'height':175,
     'hobby':'reading',
     'gender':'male'}

#q4
key = input('enter a key of dic:')
if key in me:
    print(me[key])
else:
    print('enter other word')

enter a key of dic:height
175

In [44]:
# q5
me['eminem']=['Rap God','Lose yourself','Venom']
me

{'height': 175,
 'hobby': 'reading',
 'gender': 'male',
 'eminem': ['Rap God', 'Lose yourself', 'Venom']}

## Act6 about operation of string

In [53]:
"""aaa
   aaa
   bbb
   ccc  
"""

'aaa\n\n   aaa\n   bbb\n   ccc  \n'

In [54]:
author = 'Kafka'
author[3]

'k'

In [56]:
author[-3]

'f'

In [57]:
author*3

'KafkaKafkaKafka'

In [58]:
author.upper()

'KAFKA'

In [59]:
author.lower()

'kafka'

In [60]:
author+author

'KafkaKafka'

In [63]:
(author+author).lower()

'kafkakafka'

In [64]:
what = input('何が:')
where = input('どこで:')
when = input('いつ:')
do = input('どうした:')
AA

'hello, mr.tanaka'

In [65]:
'testa,tetassdg,kakaka,gdasg'.split(',')

['testa', 'tetassdg', 'kakaka', 'gdasg']

In [66]:
'+'.join('asdgsagfrefgsd')

'a+s+d+g+s+a+g+f+r+e+f+g+s+d'

In [70]:
words = ['some','thing','went','wrong']
words = ' '.join(words)
words

'some thing went wrong'

In [73]:
words = words.replace('w','W')
words

'some+thing+Went+Wrong'

In [75]:
try:
    'supersofgsgkemfsahfoerhgusdf'.index('sdafd')
except:
    print('there is not such words')

there is not such words

In [81]:
a = 'there\n\'s not here'
print(a)

there
's not here

In [82]:
'tadsafaf'[2:6]

'dsaf'

In [84]:
#q1
a='カミュ'
try:
    for i in range(10):
        print(a[i])
except:
    print('index over')

カ
ミ
ュ
index over

In [85]:
#q2
a = input('enter any string:')
b = input('enter another string:')
'I wrote {} and sent to {} yesterday'.format(a,b)

enter any string:sadfsfa
enter another string:momo

'I wrote sadfsfa and sent to momo yesterday'

In [86]:
#q3
'aldous Huxley was born in 1894.'.capitalize()

'Aldous huxley was born in 1894.'

In [90]:
#q4
'where? who? when?'.split(' ')

['where?', 'who?', 'when?']

In [92]:
#q5
list=['The','fox','jumped','over','the','fence','.']
' '.join(list).replace(' .','.')

'The fox jumped over the fence.'

In [93]:
#q6
'A screaming comes across the sky.'.replace('s','$')

'A $creaming come$ acro$$ the $ky.'

In [94]:
#7
'Hemingway'.index('m')

2

In [95]:
#q8
'you\'re my son'

"you're my son"

In [100]:
#q9
a='three'*3
a.replace('et','e t')

'three three three'

In [101]:
#q10
a = '4月の晴れた寒い日で、時計がどれも12時を打っていた。'
a[:10]

'4月の晴れた寒い日で'

## Act7 about loop

In [103]:
name = 'Fredy'
for char in name:
    print(char)

F
r
e
d
y

In [104]:
tup=('affsaf','afsdsdfge','jegafds','greasdf')
for a in tup:
    print(a)

affsaf
afsdsdfge
jegafds
greasdf

In [110]:
people = {'G.Bluth':'A.Development',
         'Barney':'HIMYM',
         'Dennis':'Always sunny'}
    
for i in people:
    print(i)
    print(people[i])
    print('\n')

G.Bluth
A.Development


Barney
HIMYM


Dennis
Always sunny

In [117]:
name = ['billy','sum','george']
for i,cap in enumerate(name):
    new = name[i]
    new = new.upper()
    name[i] = new
    print(i)
    print(name[i])

0
BILLY
1
SUM
2
GEORGE

In [118]:
tv = ['GOT','Narcos','Vice']
coms = ['Arrested','friends','always sunny']
all=[]

for show in tv:
    show = show.upper()
    all.append(show)
    
for show in coms:
    show = show.upper()
    all.append(show)

print(all)

['GOT', 'NARCOS', 'VICE', 'ARRESTED', 'FRIENDS', 'ALWAYS SUNNY']

In [119]:
x = 8
while x>0:
    print('{}'.format(x))
    x -=1
print('Count down is finished')

8
7
6
5
4
3
2
1
Count down is finished

In [120]:
Q = ['what\'s your name?',
    'what\'s your fav.color?',
    'what\'s your question?']
n = 0
while True:
    print('press q to quit')
    inp = input(Q[n])
    if inp == 'q':
        break
    n = (n + 1) % 3

press q to quit
what's your name?l
press q to quit
what's your fav.color?blue
press q to quit
what's your question?none
press q to quit
what's your name?q

In [130]:
list1 = [1,2,3,5,6,7]
list2 = [3,5,7,8,9,43]
added = []
for i in list1:
    for j in list2:
        added.append(i + j)

print(added)

[4, 6, 8, 9, 10, 44, 5, 7, 9, 10, 11, 45, 6, 8, 10, 11, 12, 46, 8, 10, 12, 13, 14, 48, 9, 11, 13, 14, 15, 49, 10, 12, 14, 15, 16, 50]

In [133]:
#q1
list1 =['working dead','antorague','the sopranos']
for word in list1:
    print(word)

working dead
antorague
the sopranos

In [132]:
#q3
for i in range(25,51):
    print(i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [137]:
#q3
for i,word in enumerate(list1):
    print('{}:{}'.format(i,word))

0:working dead
1:antorague
2:the sopranos

In [1]:
#q4
num = [1,3,5,6,8]
while True:
    print('Press q to quit')
    a = input('enter some number:')
    try:
        if a == 'q':
            break
        elif int(a) in num:
            print('correct!')
        elif int(a) not in num:
            print('incorrect!')
    except(ValueError):
        print('invalid value')

Press q to quit
enter some number:q

In [2]:
#q5
list1 = [8,19,148,4]
list2 = [9,1,33,83]
product=[]

for i in list1:
    for j in list2:
        product.append(i*j)
print(product)

[72, 8, 264, 664, 171, 19, 627, 1577, 1332, 148, 4884, 12284, 36, 4, 132, 332]